@page "/"

@using SixLabors.ImageSharp;
@using SixLabors.ImageSharp.PixelFormats;
@using SixLabors.ImageSharp.Processing


<h1>Upload Image to Perform Fourier Transform</h1>

Welcome to your new app.



<FourierBECanvas  />
