@page "/"


<h1 class="text-md-left">Upload an Image and click "Peform FFT" </h1>


<p class="text-body">Warning! Large pictures take a while to load and tompute, and I need to add more error checking</p>
<p class="text-body">As well, this project was my first time using a preview version of Microsoft's Blazor WebAssembly framework and as such there are probably a bunch of things that I could be doing better or more efficiently. Take a look <a href="https://github.com/dlhieber/BlazorFourier/blob/master/BlazorFourier/Shared/Fourier2D.razor">this page of the github project</a> for comments about ways I think it could be improved. </p>

<Fourier2D/>
